.nav-account{
    padding: 15px;  
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    &__user{
        text-align: left;
        display: flex;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }
        p{
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
        }
    }
    &__search{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        input{
            flex-grow: 1;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: #e3e3e3;
            margin-right: 5px;
            border: none;
            outline: none;
        }
        button{
            padding: 5px;
            border: none;
            outline: none;
            background-color: green;
            border-radius: 5px;
            color: white;
        }
    }
}