.left-nav{
    // min-width: 300px;
    // max-width: 500px;
    background-color: white;
    height: 100%;
    // position: fixed;
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width:768px) {
        display: none;
    }
}