.chat-main{
    background-color: #242526;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &__header{
        padding: 10px 20px;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        &__avatar{
            img{
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }
        }
        &__name{
            color: #e4e6eb;
            flex-grow: 1;
            // height: min-content;
            margin-left: 10px;
            p{
                font-size: 20px;
                font-weight: bold;
            }
        }
        &__icon-close{
            display: none;
            @media screen and (max-width: 768px) {
                display: inline-block;
            }
        }
    }

    &__content{
        color: white;
        flex-grow: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        // max-height: 600px;
        p{
            padding: 10px;
            background-color: 	#3a3b3c;
            border-radius: 10px;
            margin: 5px 0;

            max-width: 50%;
            
        }
    }

    &__feature{
        padding: 10px 30px;
        display: flex;
        input{
            flex-grow: 1;
            margin-right: 10px;
            padding: 10px 15px;
            outline: none;
            border: none;
            border-radius: 20px;
            background-color: #3a3b3c;
        }
        button{
            padding: 10px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: lightgrey;
            font-weight: bold;
        }
    }
}