.register-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    &__header, &__footer{
        background-color: #0096C7;
        color: white;
        padding: 1em 0;
        font-weight: bold;
        background-color: #242526;
    }

    &__body{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e4e6eb;
    }

}

.register-form{
    min-width: 310px;
    width: 25%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;

    background-color: #242526;
    border-radius: 20px;

    &__title{
        color: #e4e6eb;
        padding: 1em;
    }

    &__alert{
        p{
            padding: 10px;
            margin-bottom: 10px;
            background-color: #ff6464;
            font-weight: bold;
            font-size: 0.75em;
            border-radius: 10px;
        }
    }

    &__body{
        display: flex;
        flex-direction: column;
        padding: 1em 1em;
        
        input{
            width: 100%;
            margin-bottom: 1em;
            padding: 8px 15px;

            border-radius: 20px;
            border: 3px solid transparent;
            outline: none;

            &.input--alert{
                border: 3px solid #EE8586;
                background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0NzYuMTE5IDQ3Ni4xMTkiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNDc2LjExOSA0NzYuMTE5IiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnPjxwYXRoIGQ9Im02Ni42NDggNDU1LjEyN2MtMzYuODA5LS4wMDEtNjYuNjQ5LTI5Ljg0Mi02Ni42NDgtNjYuNjUyIDAtMTEuNTY5IDMuMDEyLTIyLjkzOCA4LjczOS0zMi45OWwxNzEuNDA1LTMwMC44MzJjMTguMjI1LTMxLjk4MSA1OC45MjYtNDMuMTMyIDkwLjkwNy0yNC45MDcgMTAuMzg2IDUuOTE5IDE4Ljk4OCAxNC41MjEgMjQuOTA3IDI0LjkwN2wxNzEuNDExIDMwMC44MzJjMTguMjIxIDMxLjk4NCA3LjA2NCA3Mi42ODMtMjQuOTE5IDkwLjkwNC0xMC4wNTIgNS43MjctMjEuNDIyIDguNzM4LTMyLjk5MSA4LjczOHoiIGZpbGw9IiNlZjUyNjEiLz48cGF0aCBkPSJtNDA5LjQ1OSA0MTkuOTgzaC0zNDIuODExYy0xNy40MS4wMDItMzEuNTI1LTE0LjEwOS0zMS41MjctMzEuNTE5LS4wMDEtNS40NzUgMS40MjUtMTAuODU3IDQuMTM2LTE1LjYxNGwxNzEuNDA2LTMwMC44MDhjOC42MTctMTUuMTI4IDI3Ljg2Ni0yMC40MDYgNDIuOTkzLTExLjc4OSA0LjkxNiAyLjggOC45ODkgNi44NzMgMTEuNzg5IDExLjc4OWwxNzEuNDA1IDMwMC44MzFjOC42MDggMTUuMTMzIDMuMzE5IDM0LjM3OC0xMS44MTQgNDIuOTg3LTQuNzQ3IDIuNy0xMC4xMTUgNC4xMjEtMTUuNTc3IDQuMTIzeiIgZmlsbD0iI2VlZWZlZSIvPjxwYXRoIGQ9Im0yNTIuODQyIDMyMy41NzItNS42MDctMTEzLjA4MmgtMTguMzY0bC01LjYwNyAxMTMuMDgydjQ1LjczOGgyOS41NzJ6bTAtMTY1Ljc0N2gtMjkuNTc4djI5LjU3MmgyOS41NzJ6IiBmaWxsPSIjZWY1MjYxIi8+PC9nPjwvc3ZnPg==);
                background-size: 20% 50%;
                background-position: right;
                background-repeat: no-repeat;
                position: relative;
            }
            
            &:focus{
                border: 3px solid #b0b3b8;
            }
        }

        p {
            width: 100%;
            margin-bottom: 1em;
            padding: 8px 15px;

            border-radius: 20px;
            border: 3px solid transparent;
            outline: none;
            font-weight: bold;
            color: white;
            background-color: #EE8586;

        }

        button{
            width: fit-content;
            padding: 8px 15px;
            border-radius: 20px;
            outline: none;
            font-weight: bold;
            
            border: 3px solid transparent;
            background-color: #e4e6eb;
            color: #242526;

            &:hover{
                background-color: #b0b3b8;
            }
            &:active{
                border: 3px solid #b0b3b8;
                background-color: #e4e6eb;
                color: #242526;
            }
        }

        &--rows{
            display: grid;
            grid-auto-flow: column;
            column-gap: 10px;
            // flex-direction: row;
            width: auto;

            // input {
            //     // margin: ;
            // }
        }
        
        &__img-uploader {
            display: block;
            background-color: white;
            width: 400px;
            img {
                display: block;
            }

            &__img {

                width: 400px;
            }
        }
    }

    &__footer{
        padding-bottom: 1em;
        align-self: center;
    }
}

.upload-button {
    color: "white";
    border: "1px solid";
    width: "20%";
    margin: "10px auto 20px auto";
}